.circle {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 1px;

    border-radius: 50%;
    border: solid 1px white;

    &-current {
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 1px;

        border-radius: 50%;
        border: solid 1px white;
        background-color: white;
    }
}

.content {
    margin: 20px 300px;
}

body {
    margin: 0;
    background-color: black;
    color: wheat;
}

#slideshow01 {
    text-align: center;
    img {
        display: block;
        margin: 40px auto;
    }
}

#slideshow02 {
    text-align: center;
    img {
        display: block;
        margin: 40px auto;
    }
    p {
        text-align: center;
        margin: 0 200px;
    }
}